.center {
	display:block;
	margin-left: auto;
    margin-right: auto;
}
.bold {
	font-style:bold;
}
.italic {
	font-style: italic;
}
.underline {
	text-decoration: underline;

}
.overline {
	text-decoration: overline;

}
.strikethrough {
	text-decoration: line-through;

}
.text-center {
  text-align: center;
}
/* colors for text */
.blue {
	color:blue;
}
.red {
	color:red;
}
.green {
	color:green;
}
.yellow {
	color:yellow;
}
.purple {
	color:purple;
}
.white {
	color:white;
}
.black {
	color:black;
}
.orange {
	color:orange;
}
/* content boxes and buttons */
.content-box-blue,
.content-box-gray,
.content-box-green,
.content-box-purple,
.content-box-red,
.content-box-yellow {
    margin: 0 0 25px;
    overflow: hidden;
    padding: 20px;
}
 
.content-box-blue {
    background-color: #d8ecf7;
    border: 1px solid #afcde3;
}
 
.content-box-gray {
    background-color: #e2e2e2;
    border: 1px solid #bdbdbd;
}
 
.content-box-green {
    background-color: #d9edc2;
    border: 1px solid #b2ce96;
}
 
.content-box-purple {
    background-color: #e2e2f9;
    border: 1px solid #bebde9;
}
 
.content-box-red {
    background-color: #f9dbdb;
    border: 1px solid #e9b3b3;
}
 
.content-box-yellow {
    background-color: #fef5c4;
    border: 1px solid #fadf98;
}

.button-blue,
.button-gray,
.button-green,
.button-purple,
.button-red,
.button-yellow {
    color: #fff;
    padding: 5px 10px;
}
 
.button-blue:hover,
.button-gray:hover,
.button-green:hover,
.button-purple:hover,
.button-red:hover,
.button-yellow:hover {
    text-decoration: none;
}
 
.button-blue {
    background-color: #afcde3;
    border: 1px solid #afcde3;
}
 
.button-blue:hover {
    background-color: #83a2be;
    border: 1px solid #83a2be;
}
 
.button-gray {
    background-color: #bdbdbd;
    border: 1px solid #bdbdbd;
}
 
.button-gray:hover {
    background-color: #919191;
    border: 1px solid #919191;
}
 
.button-green {
    background-color: #b2ce96;
    border: 1px solid #b2ce96;
}
 
.button-green:hover {
    background-color: #86a36e;
    border: 1px solid #86a36e;
}
 
.button-purple {
    background-color: #bebde9;
    border: 1px solid #bebde9;
}
 
.button-purple:hover {
    background-color: #9291c7;
    border: 1px solid #9291c7;
}
 
.button-red {
    background-color: #e9b3b3;
    border: 1px solid #e9b3b3;
}
 
.button-red:hover {
    background-color: #c78787;
    border: 1px solid #c78787;
}
 
.button-yellow {
    background-color: #fadf98;
    border: 1px solid #fadf98;
}
 
.button-yellow:hover {
    background-color: #ecb870;
    border: 1px solid #ecb870;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic|Raleway|Titillium+Web|Orbitron|Josefin+Slab|Poiret+One);
/* fonts */
.open-sans {
	font-family: 'Open Sans', sans-serif;
}
.raleway {
	font-family: 'Raleway', sans-serif;
}
.titillium-web {
	font-family: 'Titillium Web', sans-serif;
}
.orbitron {
	font-family: 'Orbitron', sans-serif;
}
.josefin-slab {
	font-family: 'Josefin Slab', sans-serif;
}
.poriet-one {
	font-family: 'Poiret One', sans-serif;
}
.300 {
	font-weight: 300;
}
.400 {
	font-weight: 400;
}
.600 {
	font-weight: 600;
}
.700 {
	font-weight: 700;
}
.800 {
	font-weight: 800;
}

